.experience {
  padding: 3rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.experience > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
}

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.project {
  display: inline-block;
}

a {
  color: var(--body);
}

.rotation {
  animation: rotation 2s infinite linear;
}

.project-img {
  height: 170px;
  overflow: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1000px) {
  .experience {
    padding: 1.5rem;
  }
}
