@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lobster+Two&family=Monoton&display=swap');

:root {
  --primary: #2e2c2f;
  --secondary: #d81e5b;
  --body: #eff6ee;
}

* {
  font-family: 'Barlow', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--body);
}
